# === Node.js (server) ===
server/node_modules/
server/npm-debug.log
server/yarn-error.log
server/pnpm-debug.log

# === React Native (client) ===
client/node_modules/
client/npm-debug.log
client/yarn-error.log
client/pnpm-debug.log
client/.expo/
client/.expo-shared/
client/.idea/
client/.vscode/

# Logs
logs
*.log
*.log.*

# Environment variables

server/.env
# client/.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build/Output
dist/
build/
android/
ios/
